.Modal {
    position: fixed;
    z-index: 101;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;

    &_enter{
        transform: translateY(-100vh);
    }

    &_enter_active{
        transform: translateY(0vh);
        transition: transform 300ms ease-out;
    }

    &_exit{
        transform: translateY(0vh);
    }

    &_exit_active{
        transform: translateY(100vh);
        transition: transform 300ms ease-out;
    }

}