.ProductPage{



    .itemWrap {

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            .item {

            &-enter {
                opacity: 0;
            }
            &-enter-active {
                opacity: 1;
                transition: opacity 500ms ease-in;
            }
            &-exit {
                opacity: 1;
            }
            &-exit-active {
                opacity: 0;
                transition: opacity 500ms ease-in;
            }

            border: 1px solid black;
            border-radius: 2px;
            margin: 20px;

            .title {
                text-align: center;
                text-transform: uppercase;
                margin: 15px;
                border-bottom: 1px solid black;
            }

            .price {
                text-align: right;
                font-style: italic;
                font-size: 12px;
                margin: 15px;
            }

        }
    }

    
}